ul{
	list-style: none;
}

h1{
	-moz-perspective: 100px;
	-webkit-perspective: 100px;
	perspective: 100px;
}
h1 a{
	color: #000 !important;
	letter-spacing: 0.1em;
	transition: all .5s;
}
	h1 a span{
		color: #F9A91A;
		display: inline-block;
		margin: 0 3px !important;
		
	}
	@media screen and (min-width: 641px){
		h1:hover a{
			transform: rotateY(360deg);
		}
	}

.spacer-lg{
	padding-top: 3em;
	padding-bottom: 3em;
}

.top-bar{
	background-color: transparent;
	border-bottom: solid 1px #eee;
}
.top-bar .toggle-topbar.menu-icon a{
	color: #F9A91A;
}
.top-bar .toggle-topbar.menu-icon a span::after{
	box-shadow: 0 0 0 1px #F9A91A,0 7px 0 1px #F9A91A,0 14px 0 1px #F9A91A;
}
.top-bar-section li:not(.has-form) a:not(.button){
	background-color: #F9A91A;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color: #b37405;
}
.top-bar.expanded .title-area{
	background-color: #fff;
}
.title--alpha{
	background-color: #F9A91A;
	padding: 5px 20px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.15em;
}
.zebralist__link{
	background-color: #666;
	padding: 5px 15px;
	display: block;
	color: #fff;
	position: relative;
	transition: all .5s;
}

.zebralist__link:nth-child(n):hover{
	color: #F9A91A;
	background-color: #ddd;
}

.zebralist li:nth-child(even) a{
	background-color: #555;
}



	
